@use "src/app/mixins" as *
@use "src/app/functions" as *

.repos_wrap
	width: toRem(800)

.repos
	gap: 10px
	display: flex
	flex-direction: column

.repo
	display: block
	background: #ccc
	padding: 10px 20px

.repos_head
	display: flex
	justify-content: space-between
	align-items: center
	margin-bottom: 10px

.starSwitch
	font-weight: bold
	color: $MainAccent
	cursor: pointer
	transition: $FastTransition
	&:hover
		color: $SecondAccent
		transition: $FastTransition

.buttons
	display: flex
	gap: 10px



@media screen and (max-width: 550px)
	.repos_wrap
		width: toRem(1300)